:host {
  display: flex;
  padding: 4.5rem;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 2rem;
}

#badges-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

h1 {
  border-bottom: 0.01rem solid #dadada;
  margin: 0 0 2rem 0;
  text-align: center;
  width: 50%;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
}

p {
  margin: 0 0 1.5rem 0;
}

#learn-aofl {
  font-size: 3rem;
  text-decoration: none;
  color: #3ba6f7;
  border-bottom: 0.2rem solid;
  line-height: 1.3;
  margin-bottom: 2rem;
}

img {
  max-width: 60rem;
}
