html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
}

route-view {
  display: none;
}

route-view.loaded {
  display: block;
}
